.mtavari{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5e1ef;
    padding-top: 70px;
}
.container {
    background-color: white;
    width: 320px;
    height: 497px;
    border-radius: 20px;
    padding-top: 16px;
    padding-left: 16px;
    box-sizing: border-box;
}
.QR {
    display: flex;
width: 288px;
height: 286px;
background-color: #2C7DFA;
justify-content: center;
align-items: center;
border-radius: 10px;
display: flex;
box-sizing: border-box;
    margin: 0;
}
.text1 {
display: flex;
align-items: center;
justify-content: center;
width: 285px;
height: 54px;
flex-direction: column;
box-sizing: border-box;
padding-top: 24px;
text-align: center;
}
.text2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 287px;
    height: 191px;
    padding-bottom: 36px;
    text-align: center;
    letter-spacing: 0.188px;
    font-size: 15px;
    color: var(--Grey, #7D889E);

 /* es vegar avwie zemot, paddingit ar kna ratomgac  */

        
}
.text{
    width: 287px;
    height: 191px;
}
